.index {
    .card-body {
        padding-right: 32px;
    }

    .card-text {
        font-size: 14px;
        line-height: 21px;
    }

    .media-text {
        font-size: 14px;
        line-height: 21px;
    }
}