.userImg {
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}

.material-icons {
    cursor: pointer;
}

.font-size-1 {
    font-size: 14px;
}

.font-size-2 {
    font-size: 0.5rem;
}

.font-size-3 {
    font-size: 1rem;
}

.font-size-4 {
    font-size: 2rem;
}

.font-size-5 {
    font-size: 4rem;
}

.padding--2 {
    padding: 2rem;
}

.padding__left--2 {
    padding-left: 2rem;
}

.padding__right--2 {
    padding-right: 2rem;
}

.padding__x--2 {
    padding-right: 2rem;
    padding-left: 2rem;
}